<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAld-yJjh-cZMzeoaCAuBGLsWXxa_9fLq4</string>
	<key>GCM_SENDER_ID</key>
	<string>736399794122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourpie.piecrew</string>
	<key>PROJECT_ID</key>
	<string>piecrew-9fb0f</string>
	<key>STORAGE_BUCKET</key>
	<string>piecrew-9fb0f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:736399794122:ios:5a8d9ca4485025075e7933</string>
</dict>
</plist>
